# Protect against accidental local .gitignore deletion
**/scratchpad/*
!**/scratchpad/.gitignore


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/
.pytest_cache/

# C / compiled artifacts
*.o
*.a
*.out
*.so

# OS and editor backup files
*~
*.bak
*.swp
.DS_Store
