# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/
.pytest_cache/

# editor backup files (optional)
*~
*.bak

# so that .gitignore is not required in /consumer/release
/consumer/release

